.theme-btn {
	background: $theme-primary-color;
	color: $dark-gray;
	display: inline-block;
	font-weight: 800;
	padding: 20px 45px 20px 80px;
	border: 0;
	border-radius:0% 60px 60px 60px;
	text-transform: capitalize;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	position: relative;
	font-family: $heading-font;
	font-size: 18px;
	font-size: calc-rem-value(18);
	transition: all .3s;

	i{
		position: absolute;
		left: 5px;
		top: 4px;
		width: 60px;
		height: 58px;
		line-height: 60px;
		background: $white;
		border-radius:0% 30px 30px 30px;
		transition: all .3s;
		text-align: center;
	}

	&:hover,
	&:focus,
	&:active {
		background: darken($theme-primary-color, 9%);
		border-radius:60px 60px 60px 0px;

		i{
			border-radius:30px 30px 30px 0px;
		}
	}

	&:hover:after {
		opacity: 1;
	}

	@include media-query(991px) {
		font-size: 18px;
		font-size: calc-rem-value(18);
	}

	@include media-query(767px) {
		padding: 12px 18px;
		padding-left: 50px;
		font-size: 14px;

		i{
			left: 5px;
			top: 5px;
			width: 35px;
			height: 35px;
			line-height: 35px;
		}
	}
}
